<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube Downloader</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <script src="./app.js" defer></script>
</head>

<body>
        <form method="GET">
          <div class="icon"><i class="fas fa-cloud-download-alt"></i></div>
            <input type="url" placeholder="Please Enter Utube Url " title="youtube url" name="url">
            <button title="download">Download</button>
        </form>
</body>

</html>